body {
    background-color: #000000; color: #000000;
    font-family: "CustomFont", Arial, sans-serif;
    font-size: 2rem;
    background-image: url("background.jpg");
    filter: brightness(80%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    font-family: monospace;
}
.big_cell {
    flex: 1;
    min-width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: transparent;
    font-size: 5rem;
}
.small_cell {
    flex: 1;
    min-width: 50%;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #b7d1c0;
    background-image: url("document.jpg");
    background-size: 100%;
    overflow: hidden;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.small_cell iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.content {
    text-align: center;
}
